{% extends 'base.html.twig' %}

{% block title %}Ejercicio 10
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		<section class="container mt-4">
			<h1>Lista Pokemon</h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Altura</th>
						<th>Peso</th>
						<th>Sexo</th>
						<th>Categoria</th>
					</tr>
				</thead>
				<tbody>
					{% for pokemon in pokemons %}
						<tr>
							<td>{{pokemon.id}}</td>
							<td>{{pokemon.nombre}}</td>
							<td>{{pokemon.altura}}</td>
							<td>{{pokemon.peso}}</td>
							<td>
								{% if pokemon.sexo %}Hembra
									{%else%}Macho
									{%endif%}</td>
							</td>
							<td>{{pokemon.idCategoria.categoria}}</td>
						</tr>
					{% endfor %}
				</tbody>

			</table>
	
		</section>
        <section class="container mt-4">
    <h1>Lista de Categorías</h1>
    <ul>
        {% for categoria in categorias %}
            <li>{{ categoria.categoria }}</li>
        {% endfor %}
    </ul>
</section>

	</div>
{% endblock %}
